.add-streams-form-body {
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 3% 0;
    background-color: var(--raisin-black-1);
    clip-path: var(--polygon-1); /* Clip-path que recorta las esquinas */
    z-index: 1;
  }
  
  .add-streams-form-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid orange;
    clip-path: var(--polygon-1);
    pointer-events: none;
    box-sizing: border-box;
    z-index: -1;
  }
    
.add-streams-from-camps {
    width: 80%;
    margin-bottom: 2%;
}

.add-streams-from-camps input, .add-streams-from-camps textarea {
    background-color: var(--raisin-black-1);
    border: 2px solid white;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.add-streams-from-camps select {
  background-color: var(--raisin-black-1);
  height: 50px;
  padding: 10px;
  border: 2px solid white;
  width: 100%;
}

.add-streams-from-camps h1 {
  padding: 3px 0px;
}
